
/* Standard design*/

html{
    box-sizing:border-box;
    background-color: rgb(238, 12, 12);
    height: 100%;
    margin: 0;
    padding:0;
}

body{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 100%;
  margin: 0;
}

ul{
  list-style: none;
}

/* Header: Title design w/ logo*/
#title{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#logo{
  width:auto;
  height:auto;
}

/* Header: Navigation design */

nav{
  background-color: azure;
}

nav ul{
  margin: 3px;
  padding: 3px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

nav ul li{
  text-align: center;
  flex-grow: 3;
}

nav ul li a{
  display: block;
  border: 2px solid;
  margin: 0.2em;
  background-color:#f6072ffe;
}

nav a{
  text-decoration: none;
  color:azure
}

/* List formatting */

ul
{
list-style-type: none;
padding: 20px;
margin: 0px;
}

li
{
padding-right: .6em;
margin: 1em 0;
}

main > bold{
  font-weight: bold;
}
dt{
  font-weight:bold
}
/* image formatting */
image{
  width: 100%;
  overflow:hidden;
}

/* mobile design */
@media (max-width: 600px) {

  body {
    display: flex;
    flex-direction: column;
  }

  header{
    padding-bottom: 0;
  }

  h1{
    margin: 10px;
  }

  #logo{
    margin-right: 10%;
  }

  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }

  nav ul li a{
    border-radius: 0%;
    padding: 0;
    margin: 0;
  }
}
